@import url("styles/banner.css");
@import url("styles/habilidades.css");
@import url("styles/sobre-mim.css");
@import url("styles/experiencias.css");
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..900&display=swap');


:root {
	--banner-cor-fundo: #12909f; 
	--branco: #fff;
	--cor-principal: #a65ff0;
	--cor-principal-escuro: #bd3678;
	--cor-principal-claro: #e962a3;
	--cor-destaque: #fbc620;
	--preto: #222222;
	
	--fonte-titulo: "Gabarito";
	--fonte-paragrafo: "Nunito"
}