@import url("styles/banner.css");
@import url("styles/habilidades.css");
@import url("styles/sobre-mim.css");
@import url("styles/experiencias.css");
@import url("styles/contato.css");

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

:root {
	--banner-cor-fundo: #30bccc; 
	--branco: #fff;
	--cor-principal: #a65ff0;
	--cor-destaque: #23d2f5;
	--cor-principal-20: #e2dcfc;
	--cor-fundo: #fdfbff;
	--preto: #0d1821;
	
	--fonte-titulo: "Radio Canada Big";
	--fonte-paragrafo: "Nunito"
}