@import url("styles/banner.css");
@import url("styles/habilidades.css");
@import url("styles/experiencia.css");

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..900&display=swap');


:root {
	--banner-cor-fundo: #12909f; 
	--branco: #fff;
	--rosa: #e35499;
	--rosa-escuro: #bd3678;
	--amarelo: #fbc620;
	
	--fonte-titulo: "Gabarito";
	--fonte-paragrafo: "Nunito"
}