.banner {
	padding: 3em 25%;
	background-color: var(--rosa);
}

.banner__titulo {
	margin-top: 2em;
	font-size: 5em;
	font-family: var(--fonte-titulo), sans-serif;
	font-weight: 900;
	color: var9(--branco);
}

.banner__subtitulo {
	font-size: 1.2em;
	margin: 2em 0;
	font-family: var(--fonte-titulo), sans-serif;
	color: var(--amarelo);
	letter-spacing: .2rem;
}

/* Elementos abaixo do título*/

.banner-container {
	display: flex;
	gap: 3em;
	align-items: center;
}

.banner-container__icons-faixa {
	display: flex;
	gap: 1em;
	
}
.banner-container__icon {
	height: 1em;
	width: 1em;
	padding: 1em;
	border-radius: 25px;
	border: solid white 1px;	
}

.banner-container__texto {
	font-family: var(--fonte-paragrafo), sans-serif;
	line-height: 1.2em;
	color: var(--branco);
}

/* Botão */

.banner__botao {
	display: flex;
	align-items: center;
	padding: 1em;
	margin: 2em 0 4em 0;
	background-color: blue;
	border-radius: 15px;
	width: 30%;
	height: 2em;
	background-color: var(--amarelo);
}

.banner__botao-link {
	text-decoration: none;
	font-family: var(--fonte-paragrafo), sans-serif;
	color: var(--branco);
	font-weight: 700;	
}

.botao__label {
	padding-left: 2em;
}