/* Barra de Navegação */
body {
	background-color: var(--cor-principal);
}

.nav__lista {
	padding: 1em 4em;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px #e0e0e0 solid;
}

.nav__item {
	display: inline;
	margin: 5em;
	font-family: var(--fonte-paragrafo), sans-serif;
	font-size: 1em;

	a {
		text-decoration: none;
		color: var(--cor-principal);
	}

	a:hover {
		color: var(--cor-destaque);
	}
}

/* Banner decorativo */

.banner {
	padding: 3em 20%;
	background-color: var(--branco);
}

.banner__titulo {
	margin-top: 1em;
	font-size: 4em;
	font-family: var(--fonte-titulo), sans-serif;
	font-weight: 900;
	color: var(--cor-principal);
	
	img {
		display: inline;
		height: 1em;
		width: auto;
	}
}

.banner__subtitulo {
	font-size: 1.2em;
	margin: 1em 0 2.5em 0;
	font-family: var(--fonte-titulo), sans-serif;
	color: var(--amarelo);
	letter-spacing: .2rem;
}


/* Elementos abaixo do título*/

.banner__flexbox {
	display: flex;
	gap: 1.3em;
	align-items: top;
}

.banner__texto {
	width: 60%;
	margin: auto 0;

	p {
		font-family: var(--fonte-paragrafo), sans-serif;
		line-height: 1.4em;
		margin: 1em 0;
	}
}
.banner__foto {
	height: 320px;
	border-radius: 1000px;
	display: block;
}

.banner-container__icon {
	height: 1em;
	width: 1em;
	padding: 1em;
	border-radius: 25px;
	border: solid white 1px;	
}

.banner-container__texto {
	font-family: var(--fonte-paragrafo), sans-serif;
	line-height: 1.2em;
	color: var(--branco);
}

/* Botão */

.banner__botao {
	display: flex;
	align-items: center;
	padding: 1em;
	margin: 1.3em 0;
	background-color: blue;
	border-radius: 50px;
	width: 30%;
	height: 2em;
	background-color: var(--cor-destaque);
}

.banner__botao-link {
	text-decoration: none;
	font-family: var(--fonte-paragrafo), sans-serif;
	color: var(--branco);
	font-weight: 700;	
}

.botao__label {
	padding-left: 2em;
}