.experiencia {
	padding: 6em 20%;
	background-color: var(--cor-fundo);
	font-family: var(--fonte-paragrafo);
	color: var(--preto);

	 p {
		margin-bottom: 1em;
	 }
}

.experiencia > h1 {
	border-left: 12px var(--cor-destaque) solid;
	padding-left: 0.4em;
	margin-bottom: 0.5em;
	font-size: 3.3em;
	font-weight: 700;
	color: var(--cor-principal);
	font-family:  var(--fonte-titulo), sans-serif;
}

.lista-exp__item {
		margin: 1em 0;
}

.lista-exp__item-container {
	justify-content: center;
	color: var(--branco);
	display: flex;
	gap: 1em;
	padding: 1.3em;
	margin: 0.4em;
	width: 100%;
}

.item-exp__data {
	color: var(--cor-destaque);
	white-space: no-wrap;
	width: 40%;
    text-align: left;
}

.item-exp__titulo {
	color: var(--preto);
	display: inline-block;
	font-size: 1.1em;
	font-weight: 700;
	margin-bottom: 0.3em;

	h2 {
		display: inline-block;
		margin: 0 0.7em 0.5em 0;
	}

	a {
		text-decoration: none;
		color: var(--preto);;
	}
}

.item-exp__titulo:hover a {
	color: var(--cor-destaque);
}

.item-exp__icon {
	display: inline-block;
}

.item-exp__descricao {
    h3 {
		color: var(--cor-principal);
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 0.8em;
    }

    p {
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 0.7em;
        line-height: 125%;
        color: var(--preto);
    }
}

.lista-exp__item-container:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
}


.item-exp__lista-keywords > li {
	display: inline-block;
	font-size: 0.9em;
	margin: 0.2em;
	padding: 0.7em;
    color: var(--cor-principal);
    border: 1px var(--cor-principal) solid;
	border-radius: 50px;
}