.habilidades {
	padding: 6em 20%;
	background-color: var(--cor-fundo);
	font-family: var(--fonte-paragrafo), sans-serif;
}

.habilidades > h1,
.projetos > h1 {
	border-left: 12px var(--cor-destaque) solid;
	padding-left: 0.4em;
	margin-bottom: 0.5em;
	font-size: 3.5em;
	font-weight: 700;
	color: var(--cor-principal);
	font-family:  var(--fonte-titulo), sans-serif;
}

.habilidades__box {
	margin-bottom: 3em;
}

.habilidades__lista > li{
	display: inline-block;
	padding: 1em;
	margin: 0.5em;
	
	border-radius: 25px;
	color: var(--cor-principal);
	background-color: var(--cor-principal-20);
}

.habilidades__descricao {
	h2 {
		color: var(--cor-destaque);
		margin-bottom: 0.5em;
		font-size: 1.5em;
		font-family: var(--fonte-titulo), sans-serif;
		font-weight: 700;
	}

	p {
		margin-bottom: 0.3em;
		font-weight: 400;
		line-height: 120%;
		color: var(--preto);
	}
}

.habilidades__descricao > h2 > i{
	margin-right: 1em;
}


/* Subseção de projetos */
.projetos {
	padding: 6em 20%;
	background-color: var(--branco);
}

.projeto__card {
	display: flex;
	max-height: 600px;
	border-radius: 15px;
	border-bottom: 2px solid var(--cor-destaque);
	overflow: hidden;
	font-family: var(--fonte-paragrafo), sans-serif;
	color: #000;
	background-color: var(--branco);
	box-shadow: 5px 5px 10px #cacaca;

	h3 {
		color: #5f5f5f;
		margin-bottom: 1.3em;
	}
}

.projeto__img {
	overflow: hidden;
	height: 100%;
		img {
			width: 100%;
		}

		img:hover {
			transform: scale(1.05);
		}
}

.projeto__descricao {
	padding: 2.5em;

	h2 {
		font-weight: 800;
		font-size: 1.1em;
		margin-bottom: 0.7em;
	}

	p {
		font-weight: 400;
		line-height: 150%;
	}

	a {
		display: inline-block;
		margin: 1.2em 1em;
		padding: 1em;
		width: 30%;
		text-align: center;
		text-decoration: none;
		color: var(--cor-destaque);
		border: 1px var(--cor-destaque) solid;
		border-radius: 25px;
	}

	i {
		padding-right: 1em;
	}

	a:hover {
		background-color: var(--cor-destaque);
		color: var(--branco);
	}
}
