.habilidades {
	padding: 6em 20%;
	background-color: var(--cor-principal-escuro);
	font-family: var(--fonte-paragrafo), sans-serif;
	color: var(--branco);
}

.habilidades > h1,
.projetos > h1 {
	margin-bottom: 0.5em;
	font-size: 3.3em;
	font-weight: 700;
	color: white;
	font-family:  var(--fonte-titulo), sans-serif;
}

.habilidades__box {
	margin-bottom: 2.5em;
}

.habilidades__lista > li{
	display: inline-block;
	padding: 1em;
	margin: 0.5em;
	border: 1px white solid;
	border-radius: 25px;
}

.habilidades__descricao > h2 {
	color: var(--cor-destaque);
	margin-bottom: 0.5em;
	font-size: 1.5em;
	font-family: var(--fonte-titulo), sans-serif;
	font-weight: 700;
}

.habilidades__descricao > h2 > i{
	margin-right: 1em;
}

.habilidades__descricao > p {
	margin-bottom: 0.3em;
	font-weight: 400;
}

/* Subseção de projetos */
.projetos {
	margin: 6em 0;
}
.projetos > h1 {
	text-align: center;
}

.projetos__flexbox {
	display: flex;
	gap: 1em;
	justify-content: center;
	width: 100%;
}

.projeto__card {
	width: 400px;
	max-height: 600px;
	border-radius: 15px;
	border-bottom: 2px solid var(--cor-destaque);
	overflow: hidden;
	font-family: var(--fonte-paragrafo), sans-serif;
	color: #000;
	background-color: var(--branco);

	img:hover,
	a:hover {
		transform: scale(1.05);
	}

	h3 {
		color: #5f5f5f;
		margin-bottom: 1.3em;
	}
}

.projeto__img {
	overflow: hidden;
	height: 270px;
		img {
			width: 100%;
		}
}

.projeto__descricao {
	padding: 2.5em;

	h2 {
		font-weight: 800;
		font-size: 1.1em;
		margin-bottom: 0.7em;
	}

	p {
		font-weight: 400;
		line-height: 150%;
	}

	a {
		display: block;
		padding: 1em;
		margin: 1em auto;
		background-color: var(--cor-destaque);
		width: 30%;
		text-align: center;
		text-decoration: none;
		border-radius: 25px;
	}
}
