.sobre-mim {
	padding: 6em 15%;
	background: linear-gradient(90deg, var(--cor-principal-claro) 27%, var(--cor-principal-escuro) 27%);
}

.sobre-mim > h1 {
    margin-bottom: 0.5em;
	font-size: 3.3em;
	font-weight: 700;
	color: white;
	font-family:  var(--fonte-titulo), sans-serif;
}

.sobre-mim > p {
    font-family: var(--fonte-paragrafo);
    color: var(--branco);
}